<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
  </configSections>
  <appSettings>
    <!--服务名称-->
    <add key="ServiceName" value="EVT_ServerCenter"/>
    <add key="ServiceDescription" value="『EVT』数据服务中心"/>
  

    <!--日志绝对路径 空为当前工作目录 C:\Users\Administrator\Desktop\-->
    <add key="AbsolutePath" value=""/>
    <!--Debug Yes 记录/No (发送中心,接受中心指令,发送指令)-->
    <add key="LogDebug" value="No"/>
    <!--记录原始报文 车型id,逗号分隔 车型:,0, 解析:,-10,-0 全部车型-->
    <add key="LogInfo" value=",0,1003,1,2,11,12,20,21,14,"/>
    <!--LogInfobySystemNo-->
    <add key="LogInfobySystemNo" value=",15122913600000144,15122913600000103,15122913600000191,15122913600000196,15122913600000133,15122913600000051,15122913600000194,15122913600000006,15122913600000098,16022213600000004,15122913600000182,16033113100000083,"/>
    
    <!--海马自动加车确认-->
    <add key="webservice" value="http://180.153.68.242:2022/Commons/WsBasisInfo.asmx"/>
    <add key="methodname" value="GetVehicleInfoBySystemNo"/>

    <!--Mq相关配置 MSMQ,ActiveMQ-->
    <add key="mqIdentify" value="ActiveMQ"/>
    <!--ActiveMq-->
    <!--tcp://192.168.1.12:61616--><!--tcp://172.16.0.195:61616-->
    <add key="icfactory" value="tcp://192.168.1.12:61616"/>
    <!--failover:(tcp://192.168.1.194:61616?wireFormat.maxInactivityDuration=0,tcp://192.168.1.196:61616?wireFormat.maxInactivityDuration=0)-->
    <add key="ClientIp" value="0"/>
    <!--绑定本地ip,不绑定 设为0-->
    <add key="AnalysisServerIp" value="192.168.1.12"/>
    <!--分析服务器ip, 2016-01-09 添加绑定客户端ip-->
    <!--多套平台对应的中心服务器，2017->分时租赁系统；5006->安全监控系统-->
    <add key="AnalysisServerPort" value="5006,0"/>
    <!--分析服务器端口 可存在 UDP TCP 共端口情况-->
    <add key="Telnet_Server_Port" value="2035,0,0"/>
    <!--服务器端口,中间用逗号分隔,作用,服务器原生socket用以连接中心服务器发送过来的数据,转到服务器-->
    <!--中心服务器_原生socket_服务器-->

   <!--车型数组--><!--                0     1     2     3     4     5    6      7     8     9    10     11    12    13    14    15    16    17    18    19    20    21--> 
    <add key="VehicleModels" value="HM001,DFA60,DFE30,RCLF1,DFLT6,DR95C,05AEV,0HAEV,0VBEV,0E615,DFBE0,E30EX,A60EX,00T5A,000T5,0T8SA,000T7,000T4,000K9,000K8,HMAS1,ZRSK2"/>


    <!--长度分解入库用-->
    <add key="DecompositionNum" value="50"/>
    
    <add key="Rewiring" value="5"/>
    <!--重连分钟数-->
    <!--平台下发key-->
    <add key="MiddleIndex" value="04 05"/>
    <!--平台下发key-->
    <add key="MiddleIndex1" value="06 06"/>
    <!--本地客户端发送指令标识,其他发送的不予处理,MiddleIndex1 客户端2(单指EVT指令测试) -->
    <!--轮询时间-->
    <add key="Polltime" value="5000"/>

    <!--超时不大于多少 算正常-->
    <add key="Timeout" value="10"/>

    <add key="Version" value="5.24"/>

    <add key="InsertVehicleInfo" value="0^INSERT INTO [VehicleInfo] ([SystemNo], [VehicleNo], [SimID], [VehicleTypeID], [IsCan], [Picture], [QRCode], [IsDamage], [DeviceProtocolId], [VehicleStatus], [UseRealm], [EngineNo], [FrameNo], [ManufactureDate], [RegistrationDate], [RegistrationNo], [IssueDate], [Remark], [OrganizationID]) VALUES
 ('siCode', N'siCode', '', 'vlsType', '1', N'', N'siCode', '1', '4', '1', '1', '', 'siCode', 'nowTime', 'nowTime', N'', 'nowTime', N'', N'SiOrganizationID');"/>

    <add key="OrganizationID" value="5913d68b-ca45-445b-9e01-9b09ff16bd2d,af884e1f-e521-4da6-bb53-ee07da4d3092"/>
    <add key="VehicleTypeID" value="47,57,58,59,60"/>
    
    <add key="eml_id"  value="evt_2014@foxmail.com"/>
    <add key="eml_pwd"  value="evt2014"/>

  </appSettings>
  <socketServer >
    <servers>
      <server name="Telnet_Server_UDP"
        textEncoding="utf-8"
        serverTypeName="Telnet_Server_UDP"
        ip="Any" port="2035" maxRequestLength="1500" mode="Udp" maxConnectionNumber="1000" isolation="None">
        <!--maxWorkingThreads="500" maxCompletionPortThreads="500"    minWorkingThreads="5" minCompletionPortThreads="5"-->
      </server>
      <server name="Telnet_Server"
              textEncoding="utf-8"
              serverTypeName="Telnet_Server"
              ip="Any" port="2035" maxRequestLength="1500"  maxConnectionNumber="1000" isolation="None"
        disablePerformanceDataCollector="true" >
      </server>

      <!--disablePerformanceDataCollector 是否禁用性能数据采集; disableSessionSnapshot是否禁用会话快照, 默认值为 false-->
      <!--会话空闲超时时间 660s 11分钟 自动清理 2035-10-14 开启空闲清理  disableSessionSnapshot="true" clearIdleSession="true" idleSessionTimeOut="660"    -->

      <!--<server name="ManagementServer" serverType="SuperSocket.ServerManager.ManagementServer, SuperSocket.ServerManager">
        <listeners>
          <add ip="Any" port="2013" />
        </listeners>
        <users>
          <user name="Jeams" password="oppo13579"/>
        </users>
      </server>-->

    </servers>


    <serverTypes>
      <add name="Telnet_Server_UDP"
  type="ServerCenterLis.Telnet_Server, ServerCenterLis" />
      <add name="Telnet_Server"
      type="ServerCenterLis.Telnet_Server, ServerCenterLis" />
    </serverTypes>

  </socketServer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>